*.pyc
.DS_Store
.vscode
test
venv
todo_list.txt
Misc/Damage Calculation.pdf
Misc/End Turn Resolution.pdf
Misc/Gen 7 End Turn.pdf
Misc/gen_6_end_turn_sequence
Misc/moves_list.txt
Misc/pokemon_list.txt
Misc/Turn Sequence.pdf
Misc/turn_sequence_notes
Misc/Teams.rtfd/TXT.rtf
todo_list.txt
