.gameTextBlock {
    text-align: right;
}

.inputBlock {
    text-align: center;
}

.healthBar {
    height: 50px;
    width: 100px;
    background-color: rgb(7, 180, 45);
  }

.Fairy {
    background-color: rgb(241, 0, 209)
}

.Fighting {
    background-color: rgb(180, 99, 7)
}

.Psychic {
    background-color:rgb(174, 7, 180)
}