<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Pokemon Battle</title>
</head>

<body>
    <div class='container'>
        <div class='row'>
            <div class='col-9'>

                <div id='fightWindow' class='row'>
                    <img class='background' src='../static/images/background.webp' />
                    <div class='row opponentPokemonBlock'>
                        <div class='col'>
                            <div class='uiText'>
                                {{ player2.user.name }}
                            </div>
                            <div class='row progress'>
                                <div id="player2HpBar" class="progress-bar player2HpBar" role="progressbar"
                                    aria-valuenow="{{ player2.user.stat['hp'] }}" aria-valuemin="0"
                                    aria-valuemax="{{ player2.user.stat['maxHp'] }}"></div>
                            </div>
                            <div class='uiText'>
                                {{ player2.user.stat['hp'] }}/{{ player2.user.stat['maxHp'] }} HP
                            </div>
                            <div class='uiText'>
                                {% if player2.user.status[0] != None and player2.user.status[0] != 'Fainted' %}
                                {{ player2.user.status[0] }}
                                {% endif %}
                            </div>
                        </div>
                        <div class='col'>
                            <img class='pokemonImage' src='../static/images/{{ player2.user.name }}-front.gif' />
                        </div>
                    </div>

                    <div class='row playerPokemonBlock'>
                        <div class='col'>
                            <img class='pokemonImage' src='../static/images/{{ player1.user.name }}-back.gif' />
                        </div>
                        <div class='col'>
                            <div class='uiText'>
                                {{ player1.user.name }}
                            </div>
                            <div class='row progress'>
                                <div id="player1HpBar" class="progress-bar player1HpBar" role="progressbar"
                                    aria-valuenow="{{ player2.user.stat['hp'] }}" aria-valuemin="0"
                                    aria-valuemax="{{ player2.user.stat['maxHp'] }}"></div>
                            </div>
                            <div class='uiText'>
                                {{ player1.user.stat['hp'] }}/{{ player1.user.stat['maxHp'] }} HP
                            </div>
                            <div class='uiText'>
                                {% if player1.user.status[0] != None and player1.user.status[0] != 'Fainted' %}
                                {{ player1.user.status[0] }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {% block content %}{% endblock %}

                <div id='resetButton' class='container'>
                    <div class="row">
                        <form class="uiText" action="" method="get">
                            <button type="submit" name='playerInput' class="btn btn-secondary uiText"
                                value="reset">Reset
                                Game</button>
                        </form>
                    </div>
                </div>

            </div>

            <div id='gameTextBlock' class='col'>
                <div class='card'>
                    <div class='card-body gameText'>
                        {% for text in gameText.output %}
                        {{ text }}</br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        function addCss(rule) {
            let css = document.createElement('style');
            css.type = 'text/css';
            if (css.styleSheet) css.styleSheet.cssText = rule; // Support for IE
            else css.appendChild(document.createTextNode(rule)); // Support for the rest
            document.getElementsByTagName("head")[0].appendChild(css);
        }

        function addHtmlClass(elementName) {
            var element = document.getElementById(elementName);
            var playerHp = 0;

            if (elementName === 'player1HpBar') {
                playerHp = parseFloat('{{ player1.user.stat["hp"]/player1.user.stat["maxHp"] }}');
            }
            else {
                playerHp = parseFloat('{{ player2.user.stat["hp"]/player2.user.stat["maxHp"] }}');
            }

            console.log(playerHp);

            if (playerHp > 0.5) {
                element.classList.add("bg-success");
            }
            else if (playerHp < 0.5 && playerHp > 0.25) {
                element.classList.add("bg-warning");
            }
            else {
                element.classList.add("bg-danger");
            }
        }

        function removeHtmlClass(elementName) {
            var element = document.getElementById(elementName);
            element.classList.remove("bg-success");
            element.classList.remove("bg-warning");
            element.classList.remove("bg-danger");
        }

        // CSS rules
        let player1Hp = '.player1HpBar { width: {{ player1.user.stat["hp"]/player1.user.stat["maxHp"] * 100 }}%; }';
        let player2Hp = '.player2HpBar { width: {{ player2.user.stat["hp"]/player2.user.stat["maxHp"] * 100 }}%; }';

        // Load the rules and execute after the DOM loads
        window.addEventListener("load", removeHtmlClass("player1HpBar"));
        window.addEventListener("load", removeHtmlClass("player2HpBar"));
        window.addEventListener("load", addHtmlClass("player1HpBar"));
        window.addEventListener("load", addHtmlClass("player2HpBar"));
        window.addEventListener("load", addCss(player1Hp), false);
        window.addEventListener("load", addCss(player2Hp), false);

    </script>

</body>

</html>