<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Pokemon Battle</title>
</head>

<body>
    <div class='container'>
        <div class='row'>
            <div class='col-9'>
                <div class='row'>
                    <img class='background' src='../static/images/background.webp' />
                    <div class='row opponentCurrentPokemonHealthAndStatus'>
                        <div class='col'>
                            <div class='pokemonName'>
                                {{ player2.user.name }}
                            </div>
                            <div class='row'>
                                <progress class='healthBar' value="{{ player2.user.stat['hp'] }}"
                                    max="{{ player2.user.stat['maxHp'] }}"></progress>
                                <div class='status'>
                                    {% if player2.user.status[0] != None and player2.user.status[0] != 'Fainted' %}
                                    {{ player2.user.status[0] }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class='col'>
                            <img class='pokemonImage' src='../static/images/{{ player2.user.name }}-front.gif' />
                        </div>
                    </div>

                    <div class='row playerCurrentPokemonHealthAndStatus'>
                        <div class='col'>
                            <img class='pokemonImage' src='../static/images/{{ player1.user.name }}-back.gif' />
                        </div>
                        <div class='col'>
                            <div class='pokemonName'>
                                {{ player1.user.name }}
                            </div>
                            <div class='row'>
                                <progress class='healthBar' value="{{ player1.user.stat['hp'] }}"
                                    max="{{ player1.user.stat['maxHp'] }}"></progress>
                                <div class='status'>
                                    {% if player1.user.status[0] != None and player1.user.status[0] != 'Fainted' %}
                                    {{ player1.user.status[0] }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% block content %}{% endblock %}
            </div>
            <div class='col'>
                <div class='card'>
                    <div class='card-body gameText'>
                        {% for text in gameText.output %}
                        {{ text }}</br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>