<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="gameTextBlock">
        {% for text in gameText.output %}
        {{ text }} </br>
        {% endfor %}
    </div>
    <form class="inputBlock" action="" method="get">
        <input type="text" name="playerInput">
        <input type="submit" value="Enter Input">
    </form>

    <div class='healthBar'>
        {{ player1Data.user.stat['hp'] }}/{{ player1Data.user.stat['maxHp'] }}
    </div>
    </br>
    <div class='healthBar'>
        {{ player2Data.user.stat['hp'] }}/{{ player2Data.user.stat['maxHp'] }}
    </div>
</body>

</html>