<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="gameTextBlock">
        {% for text in gameText.output %}
        {{ text }} </br>
        {% endfor %}
    </div>
    <form class="inputBlock" action="" method="get">
        <input type="text" name="playerInput">
        <input type="submit" value="Enter Input">
    </form>
    <div class='gameBox'>
        <div class='healthBar'>
            {{ player1.user.stat['hp'] }}/{{ player1.user.stat['maxHp'] }}
        </div>
        </br>
        <div class='healthBar'>
            {{ player2.user.stat['hp'] }}/{{ player2.user.stat['maxHp'] }}
        </div>
    </div>

    <div class='playerOptions'>
        {% for n in range(4) %}
        <input type="submit" value="{{ player1.user.moves[n].name }} {{ player1.user.moves[n].pp }}/{{
            player1.user.moves[n].maxPp }} PP">
        {% endfor %}
    </div>
</body>

</html>